<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet">
    <link href="https://unpkg.com/cropperjs/dist/cropper.min.css" rel="stylesheet" />

    <!-- <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet"> -->
<!-- Add Bootstrap CSS and JS for modal functionality -->
<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->


<style>


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

    label.cabinet{
	display: block;
	cursor: pointer;
}

label.cabinet input.file{
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  margin-top:-30px;
}

#upload-demo{
	width: 250px;
	height: 250px;
  padding-bottom:25px;
}

</style>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <!-- <a href="index.html" class="brand-wrap">Retro
            </a> -->
            <a href="#"><img src="/users/assets/imgs/theme/logo1.svg" alt="logo"></a>

            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-products-list.html">Product List</a>
                        <a href="page-products-grid.html">Product grid</a>
                        <a href="page-products-grid-2.html">Product grid 2</a>
                        <a href="page-categories.html">Categories</a>
                    </div>
                </li> -->
                <li class="menu-item ">
                    <a class="menu-link" href="order-list"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-orders-1.html">Order list 1</a>
                        <a href="page-orders-2.html">Order list 2</a>
                        <a href="page-orders-detail.html">Order detail</a>
                        <a href="page-orders-tracking.html">Order tracking</a>
<a href="page-invoice.html">Invoice</a> -->
                    <!-- </div> -->
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div> -->
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/addproduct"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-form-product-1.html" class="active">Add product 1</a>
                        <a href="page-form-product-2.html">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div> -->
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-store"></i>
                        <span class="text">Categories</span>
                    </a>
                    <!-- <div class="submenu"> 
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                        <a href="page-transactions-details.html">Transaction Details</a>
                    </div>
                </li> -->
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li> -->
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li> -->
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <!-- <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul> -->
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <!-- <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button> -->
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <!-- <li class="dropdown nav-item"> -->
                        <!-- <a class="dro/\pdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a> -->
                        <!-- <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div> -->
                    <!-- </li> -->
                    <!-- <li class="dropdown nav-item"> -->
                        <!-- <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User"></a> -->
                        <!-- <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li> -->
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <!-- <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                          
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/admin/product/edit?id=<%= data._id%>" enctype="multipart/form-data">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" value="<%= data.name %>" class="form-control" id="product_name"  name="product_name">
                                    <div id="error_Pname" class="text-danger"></div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <input  value="<%= data.description %>" placeholder="Type here" class="form-control" rows="4" name="product_description" id="product_description">
                                    <div id="error_PD" class="text-danger"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <div class="row gx-2">
                                                <input placeholder="₹" value="<%= data.price %>" type="text" class="form-control" name="product_Aprice" id="product_Aprice">
                                                <div id="error_Paprice" class="text-danger"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Promotional price</label>
                                            <input placeholder="₹" type="text"  value="<%= data.promo_price %>" class="form-control" name="product_Pprice"  id="product_Pprice">
                                            <div id="error_Ppprice" class="text-danger"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Category</label>
                                        <select name="product_category" class="form-select" id="product_category">
                                             <!-- <option value="kajsd"><%= data.category %></option> -->
                                           <% 
  const categoryObj = cat.find((item) => item._id.toString() == data.category.toString());
  console.log("product category",data.category)
  console.log(" categories",cat)
  const categoryName = categoryObj ? categoryObj.name : "Product Category";
%>

                                                <option value="" disabled selected><%= categoryName %></option>

                                            <% for ( let i=0 ; i < cat.length ; i++ ) { %>

                                                
<% if (cat[i]._id.toString() != data.category.toString()) { %>
      <option value="<%= cat[i]._id %>"><%= cat[i].name %></option>
    <% } %>                                            <% } %>
                                          </select>
                                          
                                    </div>
                                
                                        
                                </div>
                               
                                <div>
                                    <button class="btn btn-md rounded font-sm hover-up" type="submit">Upload</button>
                                </div>
                          
                        </div>
                    </div> 
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group" id="imageContainer">
                                <!-- <img src="/assets/imgs/theme/upload.svg" alt=""> -->
                               
<!--                                 
                                    <%for(let i=0;i < 5;i++) {%>
                                        <div class="image-item">
                                            <% if (i < data.image.length) { %>
                                                <img src="/uploads/<%= data.image[i] %>" alt="<%= data.name %>" style="height: 100px; width: 100px;">
                                                <form action="/admin/product/<%= data._id %>/remove-image" method="POST" style="display: inline;" class="removeimg" data-product-id="<%= data._id %>">
                                                    <input type="hidden" name="image" value="<%= data.image[i] %>">
                                                    <button type="button" class="btn btn-danger btn-sm btn-remove">Remove</button>
                                                </form>
                                            <% } else { %>
                                                <input type="file" name="images" class="form-control additional-image" accept="image/*">
                                            <% } %>
                                        </div>
                                  <%}%> -->
                                  <% for(let i = 0; i < 5; i++) { %>
                                    <div class="image-item">
                                        <% if (i < data.image.length) { %>
                                            <img src="/uploads/<%= data.image[i] %>" alt="<%= data.name %>" style="height: 100px; width: 100px;">
                                            <!-- Trigger SweetAlert on button click -->
                                            <button type="button" class="btn btn-danger btn-sm btn-remove" onclick="confirmRemove('<%= data._id %>', '<%= data.image[i] %>')">Remove</button>
                                        <% } else { %>
                                            <!-- <input type="file" name="images" class="form-control additional-image" accept="image/*" onchange="showCropModal(this)"> -->
                                            <!-- <input type="file" name="images" class="form-control additional-image" accept="image/*" > -->
                                            <input type="file" name="images" class="form-control additional-image" accept="image/*" onchange="validateImage(this)">
                                            <div id="imageError" class="text-danger mt-2" style="display: none;">Please select a valid image file (jpg, jpeg, png).</div>

                                            <!-- <input type="file" name="images" class="form-control additional-image" accept="image/*" onchange="showCropModal(this)"> -->
                                            <!-- <img id="croppedImageOutput" style="margin-top: 20px; width: 150px; height: 200px;" />
                                            <img id="croppedImageOutput" src="/uploads/default-image.jpg" style="margin-top: 20px; width: 150px; height: 200px;" /> -->


                                            <!-- <input type="file" name="images" class="form-control additional-image" accept="image/*" onchange="showCropModal(this)"> -->
                                        <% } %>
                                    </div>
                                <% } %>
                                
                                <!-- <input class="form-control" type="file"  value="<%= data.image[0] %>" name="images">
                                <input class="form-control"  type="file" value="<%= data.image[1] %>" name="images">
                                <input class="form-control" type="file"  value="<%= data.image[2] %>" name="images">
                                <input class="form-control" type="file"  value="<%= data.image[2] %>" name="images">
                                <input class="form-control" type="file"  value="<%= data.image[2] %>" name="images"> -->
                                
                            </div>
                        </div>
                    </div> 
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Stock</h4>
                        </div>
                        <div class="card-body" >
                           
                            
                            <!-- Stock Data -->
                     <label  for="XS">XS Stock:</label>
                     <input class="form-control" type="number" id="XS" name="stock[XS]" min="0" value="<%= data.stock.XS %>" required>
                   <br>

                     <label  for="S">S Stock:</label>
                     <input class="form-control" type="number" id="S" name="stock[S]" min="0" value="<%= data.stock.S %>" required>
                       <br>
                       <label for="M">M Stock:</label>
                          <input class="form-control" type="number" id="M" name="stock[M]" min="0" value="<%= data.stock.M %>" required>


                              <br>

<label  for="L">L Stock:</label>
<input class="form-control" type="number" id="L" name="stock[L]" min="0"  value="<%= data.stock.L %>"  required>
<br>

<label  for="XL">XL Stock:</label>
<input class="form-control" type="number" id="XL" name="stock[XL]" min="0" value="<%= data.stock.XL %>" required>
<br>

<label  for="XXL">XXL Stock:</label>
<input class="form-control" type="number" id="XXL" name="stock[XXL]" min="0" value="<%= data.stock.XXL %>" required>
<br>

                        </div>
                    </div> 
                </form>
                    
                 
                </div>
            </div>
       
        </section> 

        <div id="cropperModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Crop Image</h2>
                <div>
                    <img id="imageToCrop" style="max-width: 100%;" />
                </div>
                <button id="cropButton">Crop</button>
            </div>
        </div>

    </main>


    
    <!-- Modal for cropping the image -->
    <!-- <div id="cropImageModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crop Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="cropContainer"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="cropImage()">Crop</button>
                </div>
            </div>
        </div>
    </div> -->
   
<script src="https://unpkg.com/cropperjs"></script>

    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.js"></script>
   
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<!-- Include Cropper.js CSS -->
<script src="https://unpkg.com/cropperjs"></script>

<!-- Include Cropper.js JS -->
<script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/cropperjs"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
    let cropper;
    const imageToCrop = document.getElementById('imageToCrop');
    const cropperModal = document.getElementById('cropperModal');
    const closeBtn = document.getElementsByClassName('close')[0];
    const cropButton = document.getElementById('cropButton');
    let fileInput;

    document.querySelectorAll('.additional-image').forEach(input => {
        input.addEventListener('change', function(event) {
            fileInput = event.target;
            const file = event.target.files[0];
            if (file && file.type.match('image.*')) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    imageToCrop.src = e.target.result;
                    cropperModal.style.display = 'block';
                    cropper = new Cropper(imageToCrop, {
                        aspectRatio: 1,
                        viewMode: 1,
                    });
                };
                reader.readAsDataURL(file);
            } else {
                // alert('Please select a valid image file (jpg, jpeg, png).');
            }
        });
    });

    closeBtn.onclick = function() {
        cropperModal.style.display = 'none';
        cropper.destroy();
    };

    cropButton.onclick = function() {
        const canvas = cropper.getCroppedCanvas();
        canvas.toBlob(function(blob) {
            const croppedFile = new File([blob], fileInput.files[0].name, {
                type: 'image/jpeg',
                lastModified: Date.now()
            });

            const dataTransfer = new DataTransfer();
            dataTransfer.items.add(croppedFile);
            fileInput.files = dataTransfer.files;

            cropperModal.style.display = 'none';
            cropper.destroy();
        });
    };

    window.onclick = function(event) {
        if (event.target == cropperModal) {
            cropperModal.style.display = 'none';
            cropper.destroy();
        }
    };
});
        





function validateImage(input) {
    const file = input.files[0];
    const validImageTypes = ['image/jpeg', 'image/png', 'image/jpg'];
    const imageError = document.getElementById('imageError');

    if (file && validImageTypes.includes(file.type)) {
        imageError.style.display = 'none';
        // showCropModal(input);
    } else {
        imageError.style.display = 'block';
        input.value = ''; // Clear the invalid file
    }
}
         function productValidate()
        {
        
            const product_name= document.getElementById('product_name').value
            const product_description= document.getElementById('product_description').value
            const product_Aprice= document.getElementById('product_Aprice').value
            const product_Pprice= document.getElementById('product_Pprice').value
            // const product_= document.getElementById('product_Pprice')
            if(product_name===""){
               document.getElementById("error_Pname").innerHTML="Please fill name"
                return false

            }
            else if( product_description === "")
            {
                document.getElementById("error_PD").innerHTML="Please fill the description"
                return false
            }
            else if( product_Aprice === "")
            {
                document.getElementById("error_Paprice").innerHTML="Please fill the Regular price"
                return false
            }
            else if( product_Pprice === "")
            {
                document.getElementById("error_Ppprice").innerHTML="Please fill the Promotion price"
                return false
            }
            else
            {
                document.getElementById("uploadForm").submit()
                return true     
            }
            
        }


       

//         document.addEventListener('DOMContentLoaded', function() {
//     document.querySelectorAll('.btn-remove').forEach(button => {
//         button.addEventListener('click', function(event) {
//             event.preventDefault();
//             const form = button.closest('form');
//             const productId = form.getAttribute('data-product-id');
//             const imageName = form.querySelector('input[name="image"]').value;

//             Swal.fire({
//                 title: 'Are you sure?',
//                 text: "You won't be able to revert this!",
//                 icon: 'warning',
//                 showCancelButton: true,
//                 confirmButtonColor: '#3085d6',
//                 cancelButtonColor: '#d33',
//                 confirmButtonText: 'Yes, delete it!'
//             }).then((result) => {
//                 if (result.isConfirmed) {
//                     fetch(`/admin/product/${productId}/remove-image`, {
//                         method: 'DELETE',
//                         headers: {
//                             'Content-Type': 'application/json'
//                         },
//                         body: JSON.stringify({ image: imageName })
//                     })
//                     .then(response => response.json())
//                     .then(data => {
//                         if (data.success) {
//                             Swal.fire(
//                                 'Deleted!',
//                                 'Your file has been deleted.',
//                                 'success'
//                             );
//                             form.closest('.image-item').remove();
//                         } else {
//                             Swal.fire(
//                                 'Error!',
//                                 'There was an error deleting your file.',
//                                 'error'
//                             );
//                         }
//                     })
//                     .catch(error => {
//                         Swal.fire(
//                             'Error!',
//                             'There was an error deleting your file.',
//                             'error'
//                         );
//                     });
//                 }
//             });
//         });
//     });
// });
async function confirmRemove(productId, imageUrl) {
        const confirmed = await Swal.fire({
            title: 'Are you sure?',
            text: "Do you really want to remove this image?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, remove it!'
        });

        if (confirmed.isConfirmed) {
            await removeImage(productId, imageUrl);
        }
    }

    async function removeImage(productId, imageUrl) {
        console.log("product ", productId);
        console.log("image ", imageUrl);

        // Check if productId and imageUrl are defined
        if (!productId || !imageUrl) {
            Swal.fire(
                'Error!',
                'Product ID or Image URL is missing.',
                'error'
            );
            return;
        }

        const data = {
            productId: productId,
            image: imageUrl
        };

        // Prepare the body of the request
        const requestBody = JSON.stringify(data);

        try {
            // Make the fetch request
            const response = await fetch(`/admin/product/remove-image`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: requestBody
            });

            // Check if the request was successful
            if (response.ok) {
                Swal.fire(
                    'Deleted!',
                    'Your image has been removed.',
                    'success'
                ).then(() => {
                    // Optionally, refresh the list of images or update the UI here
                    location.reload(); // Reload the page to reflect the changes
                });
            } else {
                Swal.fire(
                    'Error!',
                    'Failed to remove the image.',
                    'error'
                );
            }
        } catch (error) {
            Swal.fire(
                'Error!',
                'An error occurred: ' + error.message,
                'error'
            );
        }
    }



//     let croppieInstance;

// function showCropModal(input) {
//     const file = input.files[0];
//     if (file) {
//         const reader = new FileReader();
//         reader.onload = function (e) {
//             $('#cropContainer').html(`<img src="${e.target.result}" id="imageToCrop" style="max-width: 100%;">`);
//             $('#cropImageModal').modal('show');
//         };
//         reader.readAsDataURL(file);
//     }
// }

// $('#cropImageModal').on('shown.bs.modal', function () {
//     const imageElement = document.getElementById('imageToCrop');
//     croppieInstance = new Croppie(imageElement, {
//         viewport: { width: 150, height: 200, type: 'square' },
//         boundary: { width: 300, height: 300 },
//         showZoomer: true,
//         enableOrientation: true
//     });
// }).on('hidden.bs.modal', function () {
//     if (croppieInstance) {
//         croppieInstance.destroy();
//         croppieInstance = null;
//     }
// });

// function cropImage() {
//     croppieInstance.result({
//         type: 'base64',
//         size: { width: 150, height: 200 },
//         format: 'jpeg'
//     }).then(function (resp) {
//         $('#croppedImageOutput').attr('src', resp);
//         $('#cropImageModal').modal('hide');
        
//         // Upload the cropped image to the server
//         uploadCroppedImage(resp);
//     });
// }

// function uploadCroppedImage(base64Image) {
//     const formData = new FormData();
//     formData.append('image', base64Image);
    
//     fetch('/admin/product/upload-cropped-image', {
//         method: 'POST',
//         body: formData
//     }).then(response => response.json())
//     .then(data => {
//         if (data.success) {
//             // Update the image source to the new image path
//             $('#croppedImageOutput').attr('src', data.imagePath);
//         } else {
//             console.error('Failed to upload image');
//         }
//     }).catch(error => {
//         console.error('Error uploading image:', error);
//     });
// }


    </script>
</body>

</html>