<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
    <!-- Include SweetAlert CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />

    <style>
      li {
        list-style-type: none;
      }
      table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  text-align: left;
  background-color: #f2f2f2;
}

.pagination {
            justify-content: center;
        }
    </style>
  </head>

  <body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
      <div class="aside-top">
        <a href="#"><img src="/users/assets/imgs/theme/logo1.svg" alt="logo"></a>

        <div>
          <button class="btn btn-icon btn-aside-minimize">
            <i class="text-muted material-icons md-menu_open"></i>
          </button>
        </div>
      </div>
      <nav>
        <ul class="menu-aside">
          <li class="menu-item">
            <a class="menu-link" href="home">
              <i class="icon material-icons md-home"></i>
              <span class="text">Dashboard</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="product">
              <i class="icon material-icons md-shopping_bag"></i>
              <span class="text">Products</span>
            </a>
            <!-- <div class="submenu">
                        <a href="page-products-list.html">Product List</a>
                        <a href="page-products-grid.html">Product grid</a>
                        <a href="page-products-grid-2.html">Product grid 2</a>
                        <a href="page-categories.html">Categories</a>
                    </div> -->
          </li>
          <li class="menu-item active">
            <a class="menu-link" href="orderlist">
              <i class="icon material-icons md-shopping_cart"></i>
              <span class="text">Orders</span>
            </a>
            <!-- <div class="submenu">
                        <a href="page-orders-1.html" class="active">Order list 1</a>
                        <a href="page-orders-2.html">Order list 2</a>
                        <a href="page-orders-detail.html">Order detail</a>
                        <a href="page-orders-tracking.html">Order tracking</a>
<a href="page-invoice.html">Invoice</a>
                    </div> -->
          </li>
          <li class="menu-item">
            <a class="menu-link" href="users">
              <i class="icon material-icons md-store"></i>
              <span class="text">Users</span>
            </a>
            <!-- <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div> -->
          </li>
          <li class="menu-item">
            <a class="menu-link" href="addproduct">
              <i class="icon material-icons md-add_box"></i>
              <span class="text">Add product</span>
            </a>
            <!-- <div class="submenu">
                        <a href="page-form-product-1.html">Add product 1</a>
                        <a href="page-form-product-2.html">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div> -->
          </li>
          <li class="menu-item">
            <a class="menu-link" href="category">
              <i class="icon material-icons md-store"></i>
              <span class="text">Categories</span>
            </a>
            <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a> -->
            <!-- <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                        <a href="page-transactions-details.html">Transaction Details</a>
                    </div> -->
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/admin/coupons">
              <i class="icon material-icons md-stars"></i>
              <span class="text">Coupons</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/admin/offer"> <i class="icon material-icons md-comment"></i>
                <span class="text">offers</span>
            </a>
        </li>
       
        <li class="menu-item">
            <a class="menu-link" disabled href="/admin/statistics"> <i class="icon material-icons md-pie_chart"></i>
                <span class="text">Statistics</span>
            </a>
        </li>
          <!-- <li class="menu-item ">
            <a class="menu-link" href="#">
              <i class="icon material-icons md-person"></i>
              <span class="text">Account</span>
            </a> -->
            <!-- <div class="submenu">
              <a href="page-account-login.html">User login</a>
              <a href="page-account-register.html">User registration</a>
              <a href="page-error-404.html">Error 404</a>
            </div>-->
          <!-- </li>  -->
          <!-- <li class="menu-item">
            <a class="menu-link" href="page-reviews.html">
              <i class="icon material-icons md-comment"></i>
              <span class="text">Reviews</span>
            </a> -->
          </li>
          
          <!-- <li class="menu-item">
            <a class="menu-link" disabled href="#">
              <i class="icon material-icons md-pie_chart"></i>
              <span class="text">Statistics</span>
            </a>
          </li> -->
        </ul>
        <hr />
        <!-- <ul class="menu-aside">
          <li class="menu-item has-submenu">
            <a class="menu-link" href="#">
              <i class="icon material-icons md-settings"></i> -->
              <!-- <span class="text">Settings</span> -->
            </a>
            <div class="submenu">
              <!-- <a href="page-settings-1.html">Setting sample 1</a> -->
              <!-- <a href="page-settings-2.html">Setting sample 2</a> -->
            </div>
          </li>
          <!-- <li class="menu-item">
            <a class="menu-link" href="page-blank.html">
              <i class="icon material-icons md-local_offer"></i>
              <span class="text"> Starter page </span> -->
            </a>
          </li>
        </ul>
        <br />
        <br />
      </nav>
    </aside>
    <main class="main-wrap">
      <header class="main-header navbar">
        <div class="col-search">
          <!-- <form class="searchform">
            <div class="input-group">
              <input
                list="search_terms"
                type="text"
                class="form-control"
                placeholder="Search term"
              />
              <button class="btn btn-light bg" type="button">
                <i class="material-icons md-search"></i>
              </button>
            </div>
            <datalist id="search_terms">
              <option value="Products"></option>
              <option value="New orders"></option>
              <option value="Apple iphone"></option>
              <option value="Ahmed Hassan"></option>
            </datalist>
          </form> -->
        </div>
        <div class="col-nav">
          <button
            class="btn btn-icon btn-mobile me-auto"
            data-trigger="#offcanvas_aside"
          >
            <i class="material-icons md-apps"></i>
          </button>
          <ul class="nav">
            <!-- <li class="nav-item">
              <a class="nav-link btn-icon" href="#">
                <i class="material-icons md-notifications animation-shake"></i>
                <span class="badge rounded-pill">3</span>
              </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link btn-icon darkmode" href="#">
                <i class="material-icons md-nights_stay"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="requestfullscreen nav-link btn-icon"
                ><i class="material-icons md-cast"></i
              ></a>
            </li>
            <!-- <li class="dropdown nav-item">
              <a
                class="dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="dropdownLanguage"
                aria-expanded="false"
                ><i class="material-icons md-public"></i
              ></a>
              <div
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="dropdownLanguage"
              >
                <a class="dropdown-item text-brand" href="#"
                  ><img
                    src="/assets/imgs/theme/flag-us.png"
                    alt="English"
                  />English</a
                >
                <a class="dropdown-item" href="#"
                  ><img
                    src="/assets/imgs/theme/flag-fr.png"
                    alt="Français"
                  />Français</a
                >
                <a class="dropdown-item" href="#"
                  ><img
                    src="/assets/imgs/theme/flag-jp.png"
                    alt="Français"
                  />日本語</a
                >
                <a class="dropdown-item" href="#"
                  ><img
                    src="/assets/imgs/theme/flag-cn.png"
                    alt="Français"
                  />中国人</a
                >
              </div>
            </li> -->
            <!-- <li class="dropdown nav-item">
              <a
                class="dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="dropdownAccount"
                aria-expanded="false"
              >
                <img
                  class="img-xs rounded-circle"
                  src="/assets/imgs/people/avatar2.jpg"
                  alt="User"
              /></a>
              <div
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="dropdownAccount"
              >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-perm_identity"></i>Edit
                  Profile</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-settings"></i>Account Settings</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-account_balance_wallet"></i
                  >Wallet</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-receipt"></i>Billing</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-help_outline"></i>Help center</a
                >
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="#"
                  ><i class="material-icons md-exit_to_app"></i>Logout</a
                >
              </div>
            </li> -->
          </ul>
        </div>
      </header>
      <section class="content-main">
        <div class="content-header">
          <div>
            <h2 class="content-title card-title">Order List</h2>
            <!-- <p>Lorem ipsum dolor sit amet.</p> -->
          </div>
          <!-- <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div> -->
        </div>
        <div class="card mb-4">
          <header class="card-header">
            <div class="row gx-3">
              <div class="col-lg-4 col-md-6 me-auto">
                <!-- <input
                  type="text"
                  placeholder="Search..."
                  class="form-control"
                  />
                </div> -->
              <div class="col-lg-2 col-6 col-md-3">
                <!-- <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select> -->
              </div>
              <div class="col-lg-2 col-6 col-md-3">
                <!-- <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>    
                                <option>Show 40</option>
                            </select> -->
              </div>
            </div>
          </header>
          <!-- card-header end// -->
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th scope="col">PrderDate</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">payment-method</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Action</th>
                    <th scope="col">Detail</th>
                  </tr>
                </thead>

                <tbody>
                  <% if (orderData && orderData.length > 0) { %>
                 
                    <% orderData.forEach(product => { %>
                      <% product.products.sort((a, b) => new Date(b.date) - new Date(a.date)).forEach(pro=>{%>
                  <tr>
                    <td>
                      

                     
                        <b><%= product.userId.username %></b>
                      
            

                      
                    </td>
                    <td>
                     

                     
                        <%= pro.date.toLocaleDateString('en-US', {
                        weekday: 'short', year: 'numeric', month: 'short', day:
                        'numeric' }) %>
                      
               

                      <!-- Accessing the user's name -->
                     
                    </td>
                    <td>
                     

                      <%= pro.productId.name %>
                   

                     
                    </td>

                    <td>
                      
                      
                        <% if(pro.product_orderStatus === "cancelled" ){%>
                        <span id="status-<%= pro._id %>" class="text-danger">
                          <%= pro.product_orderStatus %>
                        </span>
                        <% } else if(pro.product_orderStatus === "pending") { %>
                        <span id="status-<%= pro._id %>" class="text-warning">
                          <%= pro.product_orderStatus %>
                        </span>
                        <% } else { %>
                        <span id="status-<%= pro._id %>" class="text-success">
                          <%= pro.product_orderStatus %>
                        </span>
                        <% } %>
                     
             
                    
                    </td>
                    <!-- Assuming you want to display productPrice -->
                    <td>
                      

                     <%= pro.payment_method.method %>
                     
  
                                           
                    <td>
                     
                      ₹<%= pro.productPrice %>
               

                   
                    </td>

                    <td class="text-end">
                      <ul>
                        
                        
                          <div class="dropdown">
                            <a
                              href="#"
                              data-bs-toggle="dropdown"
                               
                              >Status</a
                            >
                            <div class="dropdown-menu">
                              <a
                                class="dropdown-item"
                                href="#"
                                onclick="handleStatusClick('<%= pro._id %>', `<%= product._id %>`,'pending')"
                                >Pending</a
                              >
                              <a
                                class="dropdown-item text-danger"
                                href="#"
                                onclick="handleStatusClick('<%= pro._id %>',`<%= product._id %>`, 'cancelled')"
                                >Cancelled</a
                              >
                              <a
                                class="dropdown-item"
                                href="#"
                                onclick="handleStatusClick('<%= pro._id %>',`<%= product._id %>`, 'completed')"
                                >Completed</a
                              >
                            </div>
                          </div>
                      
                        
                        
                        

                      </ul>
                    </td>
                    <td>
                      <a href="/admin/order-detail?id=<%=pro._id %>" class="text-success">View</a>
                    </td>
                    
                  </tr>
                
                  <%})%>
                  <% }); %> <% } else { %>
                  <h1>No Product</h1>
                  <% }%>
                  <!-- <% if (orderData) { %>
                                    <% orderData?.products?.forEach(product => { %>
                                        <tr>
                                            <td><%= product.size %></td>
                                            <td><%= orderData.userId.name %></td>
                                            <td>$<%= product.productPrice %></td>
                                            <td><%= product.product_orderStatus %></td>
                                            <td><%= product.quantity %></td>
                                        </tr>
                                    <% }); %>
                                <% } else { %>
                                    <h1>No Product</h1>
                                <% }%> -->
                </tbody>
              </table>
            </div>
            <!-- table-responsive //end -->
          </div>
          <!-- card-body end// -->
        </div>
        <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
        <!-- Order Pagination -->
       
        </div>
      </section>
      <!-- content-main end// -->
      <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
          <div class="col-sm-6">
            <script>
              document.write(new Date().getFullYear());
            </script>
            ©, Evara - HTML Ecommerce Template .
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end">All rights reserved</div>
          </div>
        </div>
      </footer>
    </main>

    <!-- Include SweetAlert JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <!-- <script>
     
    function handleProductClick(productId,status) {
        console.log('Clicked product ID:', productId);
        console.log('Clicked status:', status);
        // Here you can send the productId to the backend using fetch or any other method
        // Example using fetch:
        fetch('/orders/staus', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                 productId:productId,
                status:status
             }),
        })
       .then(response => response.json())
       .then(data => console.log('Success:', data))
       .catch((error) => console.error('Error:', error));
    }


    </script> -->
    <script>
      function handleStatusClick(productId, orderId, status) {
        // Here, you can send the productId and the selected status to your backend or perform any other action
        console.log("Product ID:", productId);
        console.log("OrderId ID:", orderId);
        console.log("Selected Status:", status);

        // You can also perform AJAX requests to send the data to the server
        // Example AJAX request using Fetch API

        fetch("/admin/orders/status", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            productId: productId,
            orderId: orderId,
            status: status,
          }),
        })
          .then((response) => {
            console.log("then response ", response);
            if (response.ok) {
              response.json().then((data) => {
                const message = data.message; // Extract the message from the JSON data
                console.log("Response message:", message); // Log the message to the console for debugging
                // Update the UI and show the SweetAlert
                const statusElement = document.getElementById(`status-${productId}`
                );
                if (data.success) {
                if (statusElement) {
                  statusElement.textContent = status;
                  if (status === "cancelled")
                    statusElement.classList.add("text-danger");
                  else if (status === "pending")
                    statusElement.classList.add("text-warning");
                  else if (status === "completed")
                    statusElement.classList.add("text-success");
                }
                Swal.fire({
                  icon: "success",
                  title: "Success!",
                  text: message || "Default message", // Use the response message if available, or use a default message
                  confirmButtonText: "OK",
                });
              }else
              {
                Swal.fire({
                icon: "error",
                title: "Error!",
                text: message, // You can  customize this message
                confirmButtonText: "OK",
              });

              }
              });
              
             
              
            } else {
              response.json().then((data)=>{

                 const message=data.message



             
              console.log("RESPONSE   ", response.message);
              // alert(response.message)
              Swal.fire({
                icon: "error",
                title: "Error!",
                text: message, // You can customize this message
                confirmButtonText: "OK",
              });

            });
            }
            // Handle response if needed
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
    
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
  </body>
</html>
